%h2 Listing of Url Pairs

= render 'form1'

=" - #{User.find_by_id(@uid).name}'s URL Pair Count: #{@url_pairs.count}"

%table
	%tr
		%th= "Long URL"
		%th= "Short" 
		%th= "Owner"
		%th= "Hits"
	-	@url_pairs.each do |url_pair|
		%tr
			%td= url_pair.long_url
			%td= link_to "#{url_pair.short_url}", url_pair.short_url
			%td= url_pair.user.name
			%td= url_pair.hit_count
			%td= #link_to 'Test', url_pair.short_url
			%td= link_to 'Show', url_pair_path(url_pair), :class => 'btn btn-mini'
			%td= link_to 'Edit', edit_url_pair_path(url_pair), {:class => 'btn btn-mini'} 
			%td= link_to 'Destroy', url_pair, :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-mini'
%br			
= link_to "Create New Url Pair", new_url_pair_path, :class => 'btn btn-custom'

