%h2 Listing of Url Pairs

= #render 'form1'

="URL Pair Count: #{UrlPair.count}"

%table
	%tr
		%th= "Long URL"
		%th= "Short" 
		%th= "Owner"
		%th= "Hits"
	-	@url_pairs.each do |url_pair|
		%tr
			%td= url_pair.long_url
			%td= url_pair.short_url
			%td= url_pair.user.email
			%td= url_pair.hit_count
			%td= link_to 'Test', url_pair.long_url
			%td= link_to 'Show', url_pair_path(url_pair)
			%td= link_to 'Edit', edit_url_pair_path(url_pair)
			%td= link_to 'Destroy', url_pair, :confirm => "Are you sure?", :method => :delete
%br			
= link_to "New Url Pair", new_url_pair_path
%br
%br
- if @guest_user
	Logged in as guest, id=#{@guest_user.id}
	=  link_to 'Login', new_user_session_path
- else
	Logged in as #{current_user.email}, id=#{current_user.id}
	= link_to 'End Session', destroy_user_session_path, :confirm => "Are you sure?", :method => :delete