%h3 Listing of All Url Pairs by Number of Hits
%br
= render 'form1'

="-  Total URL Pair Count: #{UrlPair.count}"

%table
	%tr
		%th= "Long URL"
		%th= "Short" 
		%th= "Owner"
		%th= "Hits"
	-	@url_pairs.each do |url_pair|
		%tr
			%td= url_pair.long_url
			%td= link_to "#{url_pair.short_url}", url_pair.short_url
			%td= url_pair.user.name
			%td= url_pair.hit_count
%br			
= link_to "Back", url_pairs_path, :class => 'btn btn-mini'

	
