!!!
%html
	%head
		%title
			Hot Compress
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
		= javascript_include_tag :high_charts
		
	= flash[:notice]
	= flash[:alert]
	%body
		= yield